@model List<Employee>
@{
    ViewData["Title"]= "List of Employee";
}


<h2>All Employee</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Address</th>
            <th scope="col">Gender</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
            foreach (var employee in Model) // here model will represent the model imported at top
            {
                <tr>
                    <th scope="row">@count</th>
                    <td> <a href="/Employee/Detail?firstName=@employee.firstname"> @employee.firstname </a></td>
                    <td>@employee.SurName</td>
                    <td>@employee.Address</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Salary</td>

                </tr>
              count++;
            } 
        }


    </tbody>
</table>

